@media print {
  .noPrint{
    display:none;
  }
}

footer {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

h1{
  color: black;
}

td[lol] {
    background-color: #F0E6A6 ;
        text-align: left;}

        img [class="logo"]{
        width: 10%;
        }
img{
  width:100%
}

img [class="logo"]{
width: 10%;
}
td {
    text-align: center;
      background-color: #F0E6A6 ;}

th[rowspan="3"] {
    background-color: orange;}

th[colspan="3"] {
    background-color: orange;}

th[a] {
    background-color: orange;}

td[colspan="7"] {
    background-color: black ;
        text-align: left;
          color: #fff;}

span{
  color: #2C7E6F
}
div [class="newspaper"]{
  column-count: 3;
}
          body{ background-color:#FCF3E7; background-image:none; color:#000000 }
          #ad{ display:none;}
          #leftbar{ display:none;}
          #contentarea{ width:100%;}
        }
        .flex-container {
          display: flex;
          flex-direction: column;
        }


        .wrapper {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 10px;
          grid-auto-rows: minmax(100px, auto);
        }
        .one {
          grid-column: 1 / 2;
          grid-row: 1/4;
        }
        .two {
          grid-column: 2 / 4;
          grid-row: 1 / 3;
        }
        .three {
          grid-column: 2 / 3;
          grid-row: 3/ 3;
        }
        .four {
          grid-column: 3 / 4;
          grid-row: 3/ 3;
        }
